<div class="container-nav">
    <nav class="nav">
        <div class="logo">
            <a routerLink=""> <img src="assets/images/smiley.jpg" alt="oho logo"></a>

        </div>
        <a class="logo1" routerLink=""> <img src="assets/images/logo-01.png.png" alt="oho logo"></a>
        <div class="nav-search">
            <input type="text" name="search" placeholder="Search" id="">
            <button>Search</button>
        </div>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller">Seller</a></li>
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="cart">Cart(0)</a></li>
        </ul>
    </nav>
</div>